streamlit
streamlit-mic-recorder

langchain
langgraph
langchain-community
langchain-core
langchain-groq

faiss-cpu
sentence-transformers

pypdf
python-docx
unstructured

groq
gtts

python-dotenv
numpy
tiktoken
pydub
soundfile
